<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Jupiter Gallery</h1>

    <div class="GalleryWrapJupiter gridprops">
        <div style="grid-area: img1;">
            <img src="../../../../assets/Jupiter_showcase.jpg" alt="Jupiter">
        </div>
        <div style="grid-area: img2;">
            <img style="object-fit: contain;" src="https://live.staticflickr.com/65535/50639533462_b32ab0bf63_k_d.jpg"
                alt="Jupiter">
        </div>
        <div style="grid-area: img3;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/50171670417_a76a9ee2a9_3k_d.jpg"
                alt="Jupiter">
        </div>
        <div style="grid-area: img4;">
            <img src="https://live.staticflickr.com/65535/49914428097_b9f98de63d_k_d.jpg" alt="Jupiter">
        </div>
        <div style="grid-area: img5;">
            <img src="https://live.staticflickr.com/65535/49916284808_fc856219a4_k_d.jpg" alt="Jupiter">
        </div>
        <div style="grid-area: img6;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/49910701382_aa451bd7b4_k_d.jpg"
                alt="Jupiter">
        </div>
        <div style="grid-area: img7;">
            <video style="width: 100%; height: 100%;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Jupiter%20Perijove%2016.mp4"></video>
        </div>
        <div style="grid-area: img8;">
            <img src="https://live.staticflickr.com/65535/48833389981_39df955ffa_4k_d.jpg" alt="Jupiter">
        </div>
        <div style="grid-area: img9;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/50829777076_1fd0be8752_h_d.jpg"
                alt="Jupiter">
        </div>
        <div style="grid-area: img10;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/49856095098_cf03a8bcb5_k_d.jpg"
                alt="Jupiter">
        </div>
        <div style="grid-area: img11;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/50041701042_dddbf4c1ea_k_d.jpg"
                alt="Jupiter">
        </div>
        <div style="grid-area: img12;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/49831655782_a684a0cdb3_k_d.jpg"
                alt="Jupiter">
        </div>
        <div style="grid-area: img13;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/49856445171_85552fc8b0_h_d.jpg"
                alt="Jupiter">
        </div>
        <div style="grid-area: img14;">
            <video style="width: 100%; height: 100%;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Jupiter%20Io.mp4"></video>
        </div>
    </div>