<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Moon Gallery</h1>

    <div class="GalleryWrapMoon gridprops">
        <div style="grid-area: img1;">
            <img src="../../../../assets/Moon_showcase.jpg" alt="Moon">
        </div>
        <div style="grid-area: img2;">
            <video style="width: 100%; height: 100%; object-fit: cover;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/MOON%20surface.mp4"></video>
        </div>
        <div style="grid-area: img3;">
            <img src="https://moon.nasa.gov/system/resources/detail_files/47_s1-1280.jpg" alt="Moon">
        </div>
        <div style="grid-area: img4;">
            <img style="object-fit: cover;" src="https://moon.nasa.gov/system/resources/detail_files/172_hawke.png"
                alt="Moon">
        </div>
        <div style="grid-area: img5;">
            <img style="object-fit: cover;" src="https://moon.nasa.gov/system/downloadable_items/437_lunarbeauty.png"
                alt="Moon">
        </div>
        <div style="grid-area: img6;">
            <img style="object-fit: cover;"
                src="https://moon.nasa.gov/system/resources/detail_files/187_detail_as11-44-6551_orig.jpg" alt="Moon">
        </div>
        <div style="grid-area: img7;">
            <img style="object-fit: cover;"
                src="https://moon.nasa.gov/system/downloadable_items/279_as08-13-2225_orig.jpg" alt="Moon">
        </div>
        <div style="grid-area: img8;">
            <video style="width: 100%; height: 100%; object-fit: cover;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Moon%20LUNAR%20ORBIT%202.mp4"></video>
        </div>
        <div style="grid-area: img9;">
            <video style="width: 100%; height: 100%; object-fit: cover;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Moon%20DARKSIDE.mp4"></video>
        </div>
        <div style="grid-area: img10;">
            <video style="width: 100%; height: 100%; object-fit: cover;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Moon%20HILLS.mp4"></video>
        </div>
        <div style="grid-area: img11;">
            <video style="width: 100%; height: 100%; object-fit: cover;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Moon%20Rotation.mp4"></video>
        </div>
    </div>
