<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Pluto Gallery</h1>

<div class="GalleryWrapPluto gridprops">
    <div style="grid-area: img1;">
        <img src="../../../../assets/Pluto_showcase.jpg" alt="Pluto">
    </div>
    <div style="grid-area: img2;">
        <img style="object-fit: cover;"
            src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Pluto_in_True_Color_-_High-Res.jpg" alt="Pluto">
    </div>
    <div style="grid-area: img3;">
        <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc1phIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--581ece8935e141001269c0733f3d1b8b7c1c774c/nh-apluto-mountains-plains-9-17-15_0.jpg?disposition=attachment"
            alt="Pluto" style="object-fit: cover;">
    </div>
    <div style="grid-area: img4;">
        <img src="https://live.staticflickr.com/7322/27735833655_0dd062c463_o_d.jpg" alt="Pluto">
    </div>
    <div style="grid-area: img5;">
        <img src="https://cdn.mos.cms.futurecdn.net/DoZSMXF87kCuzbymsuEFHo.jpg"
            alt="Pluto">
    </div>
    <div style="grid-area: img6;">
        <video style="width: 100%; height: 100%; object-fit: cover;" muted controls
            src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Pluto%20Rotation.mp4"></video>
    </div>
</div>