<div class="quick-facts">
  <h3>Quick Facts</h3>
  <br />
  <ul>
    <li>
      <h3>Day</h3>
    </li>
    <li>{{ planet.day }} Earth Days</li>
    <li>
      <h3>Year</h3>
    </li>
    <li>{{ planet.year }} Earth Days</li>
    <li>
      <h3>Radius</h3>
    </li>
    <li>{{ planet.radius }} KM</li>
    <li>
      <h3>Diameter</h3>
    </li>
    <li>{{ planet.diameter }} KM</li>
    <li>
      <h3>Planet Type</h3>
    </li>
    <li>{{ planet.planetType }}</li>
    <li>
      <h3>Moons</h3>
    </li>
    <li>{{ planet.moon }}</li>
    <li>
      <h3>Gravity</h3>
    </li>
    <li>{{ planet.gravity }} m/s<sup>2</sup></li>
    <li>
      <h3>Temperature</h3>
    </li>
    <li>{{ planet.avgTemp }}</li>
  </ul>
</div>
