<h1 class="l-heading" id="top" style="text-align: center; margin-top: 2rem;">Gallery</h1>
    <div class="gallery-wrap">

        <!-- Sun Gallery -->

        <div class="SunGallery galleryZoom">
            <div class="gallerylinks gradientsun">
                <a style="color: #0F0100; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);" href="sun-gallery">Sun
                    Gallery &#8594;</a>
            </div>
        </div>

        <!-- Mercury Gallery -->

        <div class="MercuryGallery galleryZoom">
            <div class="gallerylinks gradientmercury">
                <a style="color: #202020; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="mercury-gallery">Mercury Gallery &#8594;</a>
            </div>
        </div>

        <!-- Venus Gallery -->

        <div class="VenusGallery galleryZoom">
            <div class="gallerylinks gradientvenus">
                <a style="color: #ffebd7; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="venus-gallery">Venus Gallery &#8594;</a>
            </div>
        </div>

        <!--  Earth Gallery -->

        <div class="EarthGallery galleryZoom">
            <div class="gallerylinks gradientearth">
                <a style="color: #ffebd7; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="earth-gallery">Earth Gallery &#8594;</a>
            </div>
        </div>

        <!-- Mars Gallery -->

        <div class="MarsGallery galleryZoom">
            <div class="gallerylinks gradientmars">
                <a style="color: #e4ccac; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="mars-gallery">Mars Gallery &#8594;</a>
            </div>
        </div>

        <!-- Jupiter Gallery -->

        <div class="JupiterGallery galleryZoom">
            <div class="gallerylinks gradientjupiter">
                <a style="color: #ffebd7; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="jupiter-gallery">Jupiter Gallery &#8594;</a>
            </div>
        </div>

        <!-- Saturn Gallery -->

        <div class="SaturnGallery galleryZoom">
            <div class="gallerylinks gradientsaturn">
                <a style="color: #D4C9A7; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="saturn-gallery">Saturn Gallery &#8594;</a>
            </div>
        </div>

        <!-- Uranus Gallery -->

        <div class="UranusGallery galleryZoom">
            <div class="gallerylinks gradienturanus">
                <a style="color: #080c0f; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="uranus-gallery">Uranus Gallery
                    &#8594;</a>
            </div>
        </div>

        <!-- Neptune Gallery -->

        <div class="NeptuneGallery galleryZoom">
            <div class="gallerylinks gradientneptune">
                <a style="color: #0e0e0e; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="neptune-gallery">Neptune Gallery
                    &#8594;</a>
            </div>
        </div>

        <!-- Pluto Gallery -->

        <div class="PlutoGallery galleryZoom">
            <div class="gallerylinks gradientpluto">
                <a style="color: #fffbef; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="pluto-gallery">Pluto Gallery
                    &#8594;</a>
            </div>
        </div>

        <!-- Moon Gallery -->

        <div class="MoonGallery galleryZoom">
            <div class="gallerylinks gradientmoon">
                <a style="color: #D4C9A7; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);"
                    href="moon-gallery">Moon Gallery
                    &#8594;</a>
            </div>
        </div>

    </div>

