<div class="sections">
  <h3>Sections</h3><br>
  <ul>
    <li><a [href]="'#' + planetName + '-Introduction'">Introduction</a></li>
    <li><a [href]="'#' + planetName + '-Size_and_Distance'">Size and Distance</a></li>
    <li><a [href]="'#' + planetName + '-Orbit_and_Rotation'">Orbit and Rotation</a></li>
    <li><a [href]="'#' + planetName + '-Formation'">Formation</a></li>
    <li><a [href]="'#' + planetName + '-Structure'">Structure</a></li>
    <li><a [href]="'#' + planetName + '-Surface'">Surface</a></li>
    <li><a [href]="'#' + planetName + '-Atmosphere'">Atmosphere</a></li>
    <li><a [href]="'#' + planetName + '-Potential_for_life'">Potential for life</a></li>
    <li><a [href]="'#' + planetName + '-Moons'">Moons</a></li>
    <li><a [href]="'#' + planetName + '-Rings'">Rings</a></li>
    <li><a [href]="'#' + planetName + '-Magnetosphere'">Magnetosphere</a></li>
  </ul>
</div>