
<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Earth Gallery</h1>

<div class="GalleryWrapEarth gridprops">
    <div style="grid-area: img1;">
        <img src="../../../../assets/Earth_Big.jpg" alt="Earth">
    </div>
    <div style="grid-area: img2;">
        <img src="../../../../assets/Earth_Wide.jpg" alt="Earth">
    </div>
    <div style="grid-area: img3;">
        <img style="object-fit: cover;" src="../../../../assets/Earth_Cebile.jpg" alt="Earth">
    </div>
    <div style="grid-area: img4;">
        <img src="../../../../assets/Earth_Gita.jpg" alt="Earth">
    </div>
    <div style="grid-area: img5;">
        <img style="object-fit: cover;"
            src="https://media.istockphoto.com/id/1443811154/photo/the-earth-viewed-from-the-orbit.webp?b=1&s=170667a&w=0&k=20&c=4ScntiXyiIudtmJ2i6UnE7jLcF5HCoC15a8rkFwxDlM=" alt="Earth">
    </div>
    <div style="grid-area: img6;">
        <img style="object-fit: cover;"
            src="https://explorer1.jpl.nasa.gov/assets/images/galleries/cropped/1968_Earthrise_297755main_GPN-2001-000009_full.jpg" alt="Earth">
    </div>
    <div style="grid-area: img7;">
        <video style="width: 100%; height: 100%;" muted controls
            src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Himawari%203D%20globe.mp4"></video>
    </div>
    <div style="grid-area: img8;">
        <img style="object-fit: cover;"
            src="https://media.cntraveler.com/photos/5804ef77b5529ddf55125b40/master/pass/nasa-earth-views-01-cr-courtesy.jpg"
            alt="Earth">
    </div>
    <div style="grid-area: img9;">
        <img style="object-fit: cover;"
            src="https://cdn.theatlantic.com/thumbor/B37bXmrzbEGO9Cmhd0RKVqaOnaI=/0x0:2000x1125/960x540/media/img/2022/12/0123_DIS_Koren_Overview_1/original.jpg" alt="Earth">
    </div>
    <div style="grid-area: img10;">
        <video style="width: 100%; height: 100%; object-fit: contain;" muted controls
            src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Earth%20-%20Solar%20Eclipse.mp4"></video>
    </div>
    <div style="grid-area: img11;">
        <img style="object-fit: cover;" src="../../../../assets/earth_seanDoran.jpg" alt="Earth">
    </div>
    <div style="grid-area: img12;">
        <video style="width: 100%; height: 100%; object-fit: cover;" muted controls
            src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Super%20Typhoon%20Atsani.mp4"></video>
    </div>
    <div style="grid-area: img13;">
        <img style="object-fit: cover;"
            src="https://s.yimg.com/ny/api/res/1.2/dfPV1nd.Yn077SdajiQiHw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEwMDA7aD01NjM-/https://media.zenfs.com/en_US/News/BGR_News/planet-earth.jpg" alt="Earth">
    </div>
    <div style="grid-area: img14;">
        <img style="object-fit: cover;" src="../../../../assets/Earth_Night.jpg" alt="Earth">
    </div>
</div>
