<div class="sun-wrap" id="top">
    <div class="overflow-image-wrapper">
      <div class="sun-img"></div>
    </div>
    <div class="sun-info">
      <div class="sun-facts">
        <h3>Sun Facts</h3>
        <ul>
          <li>
            The Sun is the largest object within our solar system, comprising
            99.8% of the system&apos;s mass.
          </li>
          <li>
            The Sun is located at the center of our solar system, and Earth
            orbits 93 million miles away from it.
          </li>
          <li>
            Though massive, the Sun still isn&apos;t as large as other types of
            stars. It&apos;s classified as a yellow dwarf star.
          </li>
          <li>
            The Sun's magnetic field spreads throughout the solar system via the
            solar wind.
          </li>
        </ul>
      </div>
      <div class="explore-sun">
        <h3 class="page-anchor"><a href="/sun">Explore sun &#8594;</a></h3>
      </div>
    </div>
  </div>
  <div class="explore-planets">
    <div class="title">
      <h1 class="l-heading ExploreHeading">Explore planets</h1>
    </div>
<app-planets></app-planets>
