<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Uranus Gallery</h1>

    <div class="GalleryWrapUranus gridprops">
        <div style="grid-area: img1;">
            <img src="../../../../assets/Uranus_showcase.jpg" alt="Uranus">
        </div>
        <div style="grid-area: img2;">
            <img style="object-fit: cover;" src="../../../../assets/Uranus_gallery.jpg" alt="Uranus">
        </div>
        <div style="grid-area: img3;">
            <img src="https://live.staticflickr.com/4770/40346713492_1c7fa619fd_o_d.jpg" alt="Uranus">
        </div>
        <div style="grid-area: img4;">
            <img src="https://live.staticflickr.com/4710/26534993078_ace1bbb8cb_o_d.jpg" alt="Uranus">
        </div>
        <div style="grid-area: img5;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/4653/25533346307_1983d798eb_o_d.jpg"
                alt="Uranus">
        </div>
        <div style="grid-area: img6;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/51092990161_5e808c0e70_h.jpg"
                alt="Uranus">
        </div>
        <div style="grid-area: img7;">
            <img src="https://live.staticflickr.com/65535/48100017493_3e43ce826c_o_d.jpg" alt="Uranus">
        </div>
    </div>