<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Neptune Gallery</h1>

<div class="GalleryWrapNeptune gridprops">
    <div style="grid-area: img1;">
        <img src="../../../../assets/Neptune_showcase.jpg" alt="Neptune">
    </div>
    <div style="grid-area: img2;">
        <img src="https://live.staticflickr.com/176/30653338524_c2e39317f4_o_d.jpg" alt="Neptune">
    </div>
    <div style="grid-area: img3;">
        <img src="https://live.staticflickr.com/65535/50084612531_ff20dc6c99_o_d.png" alt="Neptune">
    </div>
    <div style="grid-area: img4;">
        <img style="object-fit: cover;" src="https://live.staticflickr.com/514/31164570610_acc08c8bc9_o_d.jpg"
            alt="Neptune">
    </div>
    <div style="grid-area: img5;">
        <img style="object-fit: cover;" src="https://live.staticflickr.com/4672/26512436398_9c45dc3e40_o_d.jpg"
            alt="Neptune">
    </div>
    <div style="grid-area: img6;">
        <img src="https://live.staticflickr.com/65535/50926410023_8d113fc122_o_d.png" alt="Neptune">
    </div>
    <div style="grid-area: img7;">
        <img src="https://live.staticflickr.com/7792/27355946785_1552e090a0_o_d.jpg" alt="Neptune">
    </div>
</div>