<div class="fixwrap" id="top">
    <div class="AboutArea">
        <div class="aboutWrap">
            <h1 class="l-heading">About this Project</h1>
            <p style="margin-top: 2rem;">I’ve been exploring this amazing website called <a href='https://heavenlybodies.netlify.app/' target="_blank"><span style="color: #43aaed;"></span>Heavenlybodies. </a> It's about the solar system and I absolutely love it. That's why I used it as a basis of this project of porting it over to the angular framework. The site is full of dynamic features like CSS animations, orbital completion dates, and quick facts that update in real-time. It’s a fun and interactive way to learn about the cosmos while sharpening my Angular skills  <br><br>

                I would like to thank Sean Doran, Kevin Gill and others and give credit for such spectacular imagery, to NASA for all the info and 3D models and the creator Stargaze for his amazing simulations. <br><br>

                But I want to give the biggest of thanks to the original author of the heavenlybodies website Mohit Kumar. Take a look at his orignal website above and hit github below!
            </p>
        </div>


        <div class="creditsWrap">
            <h2 class="l-heading" style="text-align: center;">Credits</h2>
            <div class="credits">

                <div>NASA <br>| <a href="https://solarsystem.nasa.gov/solar-system/our-solar-system/overview/"
                        target="_blank"><span style="color: #43aaed;">&nbsp;&nbsp; Website &nbsp;&nbsp;</span></a> |
                </div>


                <div>Sean Doran <br>| <a href="https://www.flickr.com/people/seandoran/" target="_blank"><span
                            style="color: #43aaed;">&nbsp;&nbsp; Flickr &nbsp;&nbsp; </span></a> |

                    <a href="https://www.youtube.com/c/Se%C3%A1nDoran/videos" target=" _blank"><span
                            style="color: #43aaed;">&nbsp;&nbsp;
                            YouTube &nbsp;&nbsp;
                        </span></a> |

                    <a href="https://twitter.com/_theseaning" target="_blank"><span style="color: #43aaed;">
                            &nbsp;&nbsp; Twitter
                            &nbsp;&nbsp;
                        </span></a> |
                </div>


                <div>Kevin Gill <br>| <a href="https://www.flickr.com/people/kevinmgill/" target="_blank"><span
                            style="color: #43aaed;">&nbsp;&nbsp; Flickr &nbsp;&nbsp; </span></a> |</div>


                <div>Santi
                    Martin <br>| <a href="https://www.behance.net/gallery/102800009/And-more-planets"
                        target="_blank"><span style="color: #43aaed;">&nbsp;&nbsp; Behance &nbsp;&nbsp; </span></a>
                    |
                </div>

                <div>Florent Zunino <br>| <a href="https://www.behance.net/gallery/50527039/Solar-System"
                        target="_blank"><span style="color: #43aaed;">&nbsp;&nbsp; Behance &nbsp;&nbsp; </span></a>
                    |
                </div>

                <div>Stargaze <br>| <a href="https://www.youtube.com/@Stargaze_youtube"
                    target="_blank"><span style="color: #43aaed;">&nbsp;&nbsp; Youtube &nbsp;&nbsp; </span></a>
                |
            </div>

            <div>Mohit Kumar  <br>| <a href="https://github.com/98mohitkumar"
                target="_blank"><span style="color: #43aaed;">&nbsp;&nbsp; Github &nbsp;&nbsp; </span></a>
            |
        </div>
            </div>
        </div>
    </div>
