<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Saturn Gallery</h1>

    <div class="GalleryWrapSaturn gridprops">
        <div style="grid-area: img1;">
            <img src="../../../../assets/Saturn_showcase.jpg" alt="Saturn">
        </div>
        <div style="grid-area: img2;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/48585488261_2ff9e6cb7a_o_d.jpg"
                alt="Saturn">
        </div>
        <div style="grid-area: img3;">
            <img src="https://live.staticflickr.com/65535/48656498657_edb1577a12_4k_d.jpg" alt="Saturn">
        </div>
        <div style="grid-area: img4;">
            <img src="https://live.staticflickr.com/65535/50906252771_084e9fd42d_o_d.jpg" alt="Saturn">
        </div>
        <div style="grid-area: img5;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/4665/27949572789_a872fa1f39_o_d.jpg"
                alt="Saturn">
        </div>
        <div style="grid-area: img6;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/4473/37837916022_d4755a743e_b_d.jpg"
                alt="Saturn">
        </div>
        <div style="grid-area: img7;">
            <video style="width: 100%; height: 100%; object-fit: cover;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Saturn%20Drown%20In%20Pale%20Light.mp4"></video>
        </div>
        <div style="grid-area: img8;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/948/27852720608_2630393469_o_d.jpg"
                alt="Saturn">
        </div>
        <div style="grid-area: img9;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/50142152592_ec909abe5c_k_d.jpg"
                alt="Saturn">
        </div>
        <div style="grid-area: img10;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/48545303227_ee4b1633d6_k_d.jpg"
                alt="Saturn">
        </div>
        <div style="grid-area: img11;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/46891056055_951e02bc37_o_d.jpg"
                alt="Saturn">
        </div>
        <div style="grid-area: img12;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/50145347953_9fd6306e48_h_d.jpg"
                alt="Saturn">
        </div>
        <div style="grid-area: img13;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/48587897057_54c9160deb_o_d.jpg"
                alt="Saturn">
        </div>
    </div>
