<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Sun Gallery</h1>

    <div class="GalleryWrapSun gridprops">
        <div style="grid-area: img1;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/51119839593_b0799f12e4_b_d.jpg"
                alt="https://live.staticflickr.com/65535/51119839593_b0799f12e4_b_d.jpg">
        </div>
        <div style="grid-area: img2;">
            <img style="transform: rotate(180deg); object-fit: cover;"
                src="https://solarsystem.nasa.gov/system/downloadable_items/1054_Outburst304.jpg" alt="Sun Flare">
        </div>
        <div style="grid-area: img3;">
            <img style="object-fit: cover;"
                src="https://solarsystem.nasa.gov/system/downloadable_items/356_solarfury.jpg" alt="Sun Fury">
        </div>
        <div style="grid-area: img4;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/51043705358_1f3183ec8d_h_d.jpg"
                alt="https://live.staticflickr.com/65535/51043705358_1f3183ec8d_h_d.jpg">
        </div>
        <div style="grid-area: img5;">
            <img src="https://live.staticflickr.com/65535/50788767602_aae162b448_b_d.jpg"
                alt="https://live.staticflickr.com/65535/50788767602_aae162b448_b_d.jpg">
        </div>
        <div style="grid-area: img6;">
            <img src="https://solarsystem.nasa.gov/system/downloadable_items/519_solsticeflare.jpg"
                alt="Solistic Flare">
        </div>
        <div style="grid-area: img7;">
            <video style="width: 100%; height: 100%;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Sol%20Flair.mp4"></video>
        </div>
        <div style="grid-area: img8;">
            <img style="object-fit: cover;" src="https://live.staticflickr.com/65535/51856694946_10fdb86fa1_o_d.jpg"
                alt="https://live.staticflickr.com/65535/51856694946_10fdb86fa1_o_d.jpg">
        </div>
        <div style="grid-area: img9;">
            <img style="object-fit: cover;" src="../../../../assets/Sun.jpg" alt="">
        </div>
        <div style="grid-area: img10;">
            <video style="width: 100%; height: 100%;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Sol.mp4"></video>
        </div>
        <div style="grid-area: img11;">
            <video style="width: 100%; height: 100%;" muted controls
                src="https://github.com/98mohitkumar/solar-system/raw/master/Resources/Sol%20wide.mp4"></video>
        </div>
    </div>