<h1 style="text-align: center; padding-top: 2rem;" id="top" class="l-heading">Mercury Gallery</h1>

<div class="GalleryWrapMercury gridprops">
    <div style="grid-area: img1;">
        <img src="https://live.staticflickr.com/3287/3076741162_577d626d11_b.jpg" alt="Mercury">
    </div>
    <div style="grid-area: img2;">
        <img src="https://live.staticflickr.com/8374/8497942353_900c30db02_o_d.png" alt="Mercury False Colors">
    </div>
    <div style="grid-area: img3;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Mercury_in_color_-_Prockter07-edit1.jpg"
            alt="Mercury">
    </div>
    <div style="grid-area: img4;">
        <img style="object-fit: cover;"
            src="https://www.thoughtco.com/thmb/_R3tEJeedIsrNIV5FlfWZVaNBB0=/1000x1000/smart/filters:no_upscale()/Mercury-569e31695f9b58eba4ac4781.jpg"
            alt="Mercury">
    </div>
    <div style="grid-area: img5;">
        <img style="object-fit: cover;"
            src="https://solarsystem.nasa.gov/system/resources/detail_files/1053_PIA13508.jpg" alt="Mercury">
    </div>
    <div style="grid-area: img6;">
        <img style="object-fit: cover;"
            src="https://solarsystem.nasa.gov/system/downloadable_items/1069_PIA16820.jpg" alt="Mercury">
    </div>
</div>
